Power_of_Personality/Assets/Sounds/** filter=lfs diff=lfs merge=lfs -text
Power_of_Personality/Assets/Resources/** filter=lfs diff=lfs merge=lfs -text
Power_of_Personality/Assets/Images/Materials/Material_Sewer/sewer_CP/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Power_of_Personality/Temp/FSTimeGet-25e0b0ad7f2ea0c409c1e75c2f75554f filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Power_of_Personality/Assets/TextMesh filter=lfs diff=lfs merge=lfs -text
Pro/Fonts/VITRO filter=lfs diff=lfs merge=lfs -text
INSPIRE filter=lfs diff=lfs merge=lfs -text
TTF filter=lfs diff=lfs merge=lfs -text
SDF filter=lfs diff=lfs merge=lfs -text
Trait.asset filter=lfs diff=lfs merge=lfs -text
Power_of_Personality/Assets/TextMesh[[:space:]]Pro/Fonts/VITRO[[:space:]]INSPIRE[[:space:]]TTF[[:space:]]SDF[[:space:]]Trait.asset filter=lfs diff=lfs merge=lfs -text
